@charset "UTF-8";

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background-color: #ffffff;
}

body::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  border-radius: 12px;

}

#chart {
  width: 1000px;
  margin: 35px auto;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  color: #4642c7;
}

.top-bar  {
  padding-top: 30px;
  padding-bottom: 90px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  width: 100%;
  height: 150px;
  position: fixed;
  overflow: hidden;
  z-index: 1;


}

.logo {
  max-width:90px;
  max-height:90px;

}

.center-aligned {
  vertical-align: middle;
}

.menu-bar li {
  display: inline;
  float: right;
  font-size: 20px;
  margin-left: 30px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.5px;
  vertical-align: baseline;

}

.menu-bar {
  text-transform: uppercase;
  transition: all 0.35s ease;

}

.menu-bar li a {
  padding: 0.75rem 0;
  color: rgba(10, 10, 10, 0.5);
  position: relative;
  margin-left: 1rem;
  color: #c2c2c2;
}

.menu-bar li:first-child a {
  margin-left: 0;
}

.menu-bar li.active > a {
  background-color: transparent;

}

.menu-bar a::after {
  height: 5px;
  position: absolute;
  content: '';
  transition: all 0.35s ease;
  background-color: #4642c7;
  width: 0;

}

.menu-bar a::before {
  top: 0;
  left: 0;
}

.menu-bar a::after {
  bottom: 0;
  left: 0;

}

.menu-bar a:hover,
.menu-bar li.active > a {
  color: #4642c7;
  transition: all 0.35s ease;

}


.menu-bar .active a::before,
.menu-bar a:hover::after,
.menu-bar .active a::after {
  width: 100%;

}


.work  {
  padding-top: 420px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  height:100vh;

}

.middle-section .middle-section-text {
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 270px;
  max-width: auto;
  padding-bottom: 270px;

}

.middle-section .middle-section-text h1{
  padding-bottom: 50px;
  color: #4642c7;
  font-weight: 800;
  font-size: 75px;
  line-height: 70px;
  letter-spacing: -2px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;

}

.middle-section .middle-section-text h3{
  color: #4642c7;
  font-weight: 400;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: -2px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;

}

.middle-section .middle-section-text button {
  padding-top: 15px;
  padding-bottom:15px;
  padding: 15px 30px;
  background-color: transparent;
  border: 5px solid #4642c7;
  font-size: 20px;
  font-weight:bold;
  letter-spacing: 0px;
  color: #4642c7;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;


}

.middle-section .middle-section-text button:hover {
  background-color: #4642c7;
  color: white;
  font-weight:bold;
}

.middle-section .middle-section-text button:focus {
  background-color: #4642c7;
  outline:none;
}

.grid-2  {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;

}

.padding-middle  {
  padding-bottom: 15px;

}

.padding-bottom  {
  padding-bottom: 15px;

}

.cover{
  padding-bottom:30px;
}

.screening button {
  display:inline-block;
  margin-top: 45px;
  margin-right: 30px;
  padding-bottom:15px;
  padding: 15px 30px;
  background-color: transparent;
  border: 5px solid #4642c7;
  font-size: 20px;
  font-weight:bold;
  letter-spacing: 0px;
  color: #4642c7;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  text-transform:uppercase;

}


.screening button:hover {
  background-color: #4642c7;
  color: white;
  font-weight:bold;
}

.screening button:focus {
  background-color: #4642c7;
  outline:none;
}

.wrapper {
 position: relative;
 overflow: hidden;
 max-width:
 max-height:

 }

 .wrapper:hover .image {
 -webkit-transform: scale(1.1);
 transform: scale(1.1);


 }

 .image {
 -webkit-transition: all 0.75s ease;
 transition: all 0.75s ease;
 }

.image {
  opacity: 1;
  display: block;
  width: 100%;
  transition: all 0.75s ease;
  backface-visibility: hidden;

}

.middle {
  transition: all 0.75s ease;
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  text-align: left;
}

.wrapper:hover {

}

.wrapper:hover .image {
  opacity: 0.5;
}

.wrapper:hover .middle {
  opacity: 1;
}

.text {
  color: #4642c7;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  letter-spacing: -0.5px;
  text-transform: uppercase;

}

.text h1 {
  font-size: 20px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  line-height: 20px;

}

.text p {
  font-size: 20px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  line-height: 20px;
}

.cooper-text {
  color: #403a3a;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: -0.5px;

}

.cooper-about h1 {
  font-size: 40px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  line-height: 0px;
}

.cooper-about h2 {
  padding-top: 75px;
  font-size: 25px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  line-height: 30px;
}

.cooper-about p {
  padding-top:30px;
  font-size: 20px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  line-height: 25px;
}

.header {
  font-size:20px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  color: #4642c7;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  padding-bottom:15px;
}

.sub-header {
  font-size:15px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  color: #4642c7;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  float:left
}

.table-expand {
  padding-bottom:15px;

}

.table-expand td {
  font-size:15px;
  color: #403a3a;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.table-expand th {
  font-size:15px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  color: #4642c7;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}

.table-expand tr {
  border: 1px solid #e6e6e6;
  font-family: 'IBM Plex Sans', sans-serif;
}

.table-expand .text-right {
  padding-right: 3rem;

}

.table-expand-row .expand-icon::after {
  content: '+';
  float: right;
}

.table-expand-row-content {
  display: none;
}



.line-container {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;

}

.line {
  background-color: black;
  max-width: 1500px;
  float: center;
  height: 0px;
  background-color: #c2c2c2;
}

.footer {
  background-color:white;
  max-height:auto;
  padding-top: 5px;
  padding-bottom: 90px;
  padding-left: 15px;
  padding-right: 15px;
}

.left-footer h1 {
  display: inline-block;
  float: left;
  color: #403a3a;
  font-size: 20px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-transform: uppercase;

}

.left-footer .copywrite {
  font-weight: 700;
  line-height: 30px;

}

.social li {
  display: inline-block;
  float: right;
  color: #403a3a;
  font-size: 20px;
  margin-left:30px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  letter-spacing: -0.5px;

}

.social {
  text-transform: uppercase;
  transition: all 0.35s ease;

}

.social li a {
  padding: 0.75rem 0;
  color: rgba(10, 10, 10, 0.5);
  position: relative;
  margin-left: 1rem;
  color: #403a3a;
}

.social li:first-child a {
  margin-left: 0;
}

.social li.active > a {
  background-color: transparent;
}

.social a:before,
.social a::after {
  height: 5px;
  position: absolute;
  content: '';
  transition: all 0.35s ease;
  background-color: #403a3a;
  width: 0;


}

.social a::before {
  top: 0;
  left: 0;
}

.social a::after {
  bottom: 0;
  left: 0;

}

.social a:hover,
.social li.active > a {
  color: #403a3a;
  transition: all 0.35s ease;

}


.social .active a::before,
.social a:hover::after,
.social .active a::after {
  width: 100%;

}
